/* reset default */

body,
img,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
ul,
li,
ol,
dl,
dd,
dt,
nav,
main,
title,
aside,
footer,
section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


ul,
li {
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
    min-width: 320px;
}

body {
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
    font-size: 16px;
}

textarea {
    font-family: Roboto, sans-serif, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

#app {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

input, textarea {
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    overflow: scroll;
    resize: none;
    border: none;
    outline: none;
    background: none;
}
